.DataZoomControl {
  position: relative;

  .trail {
    width: 100%;
    height: 100%;
  }

  .slideBar {
    background: #9bc9ff;
    position: absolute;
    top: 0;
    cursor: move;

    &:hover {
      opacity: 0.7;
    }
  }

  .resizeBar {
    position: absolute;
    border: 1px solid #6d6d6d;
    background: #ffffff;
    cursor: n-resize;
  }
}
